doctype html
html
  head
    title= "小说清单"
    link(rel='stylesheet', href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css")
    link(rel='stylesheet',href="/pagination.css")
    link(rel="stylesheet",href="/stylesheets/style.css")
    script(type="text/javascript",src="/jquery.min.js")
    script(type="text/javascript",src="/jquery.pagination.js")
  body
      nav.navbar.navbar-default
         .container-fluid
          .navbar-header
              b.text-center.navbar-brand 小说清单
    block content
